.image-specs img {
  position: relative;
  margin-top: 3%;
  margin-left: 50%;
  width: 50vw;
  height: 100% !important;
  z-index: 1;
}

.text-banner-spec {
  position: absolute;
  margin-left: 6%;
  margin-top: 5%;
  z-index: 2;
  width: 40vw;
  text-align: center;
}

/* Parágrafos e títulos */
.paragraph-specs {
  text-align: center;
  font-size: 1.1em;
  line-height: 2;
}

.title-specs {
  color: #278070;
  font-weight: 400;
  font-size: 2.5em;
  text-align: center;
}

@media (min-width: 1600px) {
  .title-specs {
      font-size: 2em;
  }
  .text-banner-spec {
    font-size: 1.3em;

  }
  
  
}
@media (max-height: 619px) {
  .text-banner-spec {
    margin-top: 0%;
  }

  @media (max-width: 1300px){
    .text-banner-spec {
      margin: 0 0 0 10% !important;
      width: 80vw !important;
    }
    
  }
  @media (max-width: 1000px) {
    .banner-spec-container{
      height: 75vh !important;
    }
    .image-specs img {
      margin: 0;
      opacity: .5;
      width: 100vw;
      min-height: 75vh !important;
    }
    
    
  }
  
}

@media (max-width: 1300px){
  .text-banner-spec {
    margin-top: 0%;
  }
  
}
@media (max-width: 1150px){
  .text-banner-spec {
    width: 60vw;
  }
  
}
@media (max-width: 1000px) {
  .banner-spec-container{
    height: 35vh;
  }
  .text-banner-spec {
   margin-left: 20%;
  }
  .image-specs img {
    margin: 0;
    opacity: .5;
    width: 100vw;
    height: 35vh !important;
  } 
}
@media (max-width: 680px) {
  .banner-spec-container{
    height: 50vh;
  }
  .image-specs img {
    height: 50vh !important;
  } 
}