.container-header {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.container-header .logo-header{
  width: 220px;
}

.navbar-menu{
  display: flex;
  list-style: none;
  gap: 50px;
  color: #49557e;
  font-size: 16px;
  margin-left: -26%;
  font-family: var(--mc-typography-font-family-sans);
}

.navbar-right{
  display: flex;
  align-items: center;
  gap: 40px;
}

.button-login{
  display: flex;
  align-items: center;
  gap: 6px;
}