
.nav {
  padding: 10px 0 0 5%;
  text-align: left;

  ul {
    list-style: none;
    padding: 0;

    li {
      display: inline;
      margin-right: 20px;

      a {
        text-decoration: none;
        color: #35997b;
        font-weight: bold;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: #278070; // Cor da linha de animação
          transform: scaleX(0); // Inicialmente, a linha de animação tem largura zero
          transform-origin: right;
          transition: transform 0.3s ease-in-out; // Adiciona uma transição suave
        }

        &:hover {
          &:before {
            transform: scaleX(1); // Aumenta a largura da linha de animação no hover
            transform-origin: left;
          }
        }
      }
    }
  }
}