.carousel-container {
  width: 100vw; 
  overflow-x: hidden;
  margin-top: 3%;
 /* background-color: #b6f1e7; */

}
.carousel-item{
  overflow-x: hidden;
  
}

.paragraph {
  color: rgb(0, 0, 0);
  font-size: 1.2em; /* Use vw para ajustar o tamanho da fonte em relação à largura da tela */
}
.image img {
  opacity: .6;
  height: 100% !important;
  width: auto !important;
}

.text {
  text-align: justify;
  margin-top: 4%;
  font-weight: 600;
  flex: 1;
  padding: 0 2%;
  position: absolute; /* Posicionamento absoluto para o texto */  
  width: 40%;
  height: auto;
  box-sizing: border-box; /* Para incluir preenchimento e borda no dimensionamento da largura */
  z-index: 1; /* Elevar o texto acima da imagem */
}

.image {
  margin-left: auto;
  opacity: 0.7;
  width: 60%; /* Defina a largura máxima da imagem em relação à largura da tela */
  z-index: 0;
}
/* Estilize a transição entre slides */
.carousel .slider-wrapper {
  transition: transform 0.5s ease; /* Tempo de transição e suavidade (ajuste conforme necessário) */
}
@media (max-height: 619px) {
  .image {
    height: 100vh !important;
  }
}
.buttoncarousel {
  font-weight: 600;
  border: none;
  background-color: #278070;
  color: #fff;
  padding: 10px 20px;
  margin-top: 10%;
  height: 9%;
  width: 60%;
  border-radius: 35px;
  font-size: .8em;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Adicione transições para transform e sombra */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Adicione uma sombra */
}

.buttoncarousel:hover {
  background-color: #1d5a4f;
  transform: translateY(-5px); /* Faça o botão subir um pouco */
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4); /* Aumente a sombra ao passar o mouse */
}
.linkbutton{
  text-decoration: none;
  color: white !important;
}
.subtitle{
  padding: 0;
  margin: 0;
}


.text {
  width: 50%;
  padding: 0 5%;
}

.image {
  height: 55vh;
}

@media (min-width: 860px) {
  .title {
    font-size: 2.6em;
  }
  .paragraph {
    font-size: 1.2em;
  }
  .image {
    height: 45vh;
  }
}
@media (min-width: 560px) and (max-width: 1500px) {
  .title {
    margin-top: 0;
    width: 40vw;
    
    font-size: 2.6em;
  }
  .paragraph {
    width: 50vw;
    font-size: 1.2em;
  }
}
@media (max-width: 860px) {
  .text {
    width: 80%;
  }

  .image {
    width: 100vw !important;
    opacity: .6 !important;
  }
  .paragraph {
    width: 80vw;
    font-size: 1.1em;
  }
}

@media (min-width: 1800px) {
  .title {
    font-size: 3em !important;
  }
  .paragraph {
    font-size: 1.3em;
  }
  .image {
    height: 70vh;
  }
}
