.footer {
    background-color: #176562;
    height: 40vh;
    width: 100%;
    overflow-x: hidden; /* Oculta a barra de rolagem horizontal */
}

/* Certifique-se de que o conteúdo dentro da .footer não exceda a largura da tela */
